/* barra de pesquisa */
.search-container {
    display: flex; 
    justify-content: center; 
    padding: 20px 0;

}

.search-form {
    display: flex;
    width: 60%; 
    max-width: 600px; 
    border-radius: 4px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-input {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 16px;
    border: none; 
    outline: none; 
}

.search-button {
    background-color: #f7f7f7;
    color: #333;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  
}