<div class="card-painel">
  <h2>Lista de Interessados (Dados Gerados)</h2>

  <table class="tabela-motos">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>E-mail</th>
        <th>Moto de Interesse</th>
        <th>Cidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
        <td class="nome-cliente">{{ c.nome }}</td>
        <td>{{ c.email }}</td>
        <td><span class="badge-moto">{{ c.moto }}</span></td>
        <td>{{ c.cidade }}</td>
      </tr>
    </tbody>
  </table>

  <a href="#" class="btn-voltar">Sair do Sistema</a>
</div>