.titulopagina {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
}

.subtitulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2d30;
    padding: 10px;
    margin: 0;
}

.logo {
    width: 240px;
    height: 50px;
    display: center;
}

.imagem-banner {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Simula o 'background-size: cover' do CSS */
    display: block;
    margin: 0;
}

