.titulopagina {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
}

.subtitulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2d30;
    padding: 10px;
    margin: 0;
}

.logo {
    width: 240px;
    height: 50px;
    display: center;
}


.h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
