    <footer>
        <div class="footer-conteudo">
            <div class="coluna-links">
                
            </div>

            <div class="coluna-info">
                <h4>Fale Conosco</h4>
                <p>E-mail: Gustavo@gmail.com</p>
                <p>Siga-nos:<a href="https://www.linkedin.com/in/gustavo-santana-76658037a/" > Acesse meu linkedin aqui</a></p>
            </div>

            <div class="direitos-autorais">
                <p>&copy; 2025 Catalogo do Mercado Livre. Todos os direitos reservados.</p>
                <p><a href="/politica">Política de Privacidade</a> | <a href="/termos">Termos de Uso</a></p>
            </div>
        </div>
    </footer>