    <footer>
        <div class="footer-conteudo">
            <div class="coluna-links">
                <h4>Navegação</h4>
                <ul>
                    <li><a [routerLink]="['/sobre-nos']">Sobre Nós</a></li>
                    <li><a [routerLink]="['/suporte']">Suporte</a></li>
                    <li><a [routerLink]="['/contato']">contato</a></li>
                    <li><a [routerLink]="['/receber-api']">Consulte Api</a></li>
                </ul>
            </div>

            <div class="coluna-info">
                <h4>Fale Conosco</h4>
                <p>E-mail: Gustavo@gmail.com</p>
                <p>Siga-nos: [Links para redes sociais]</p>
            </div>

            <div class="direitos-autorais">
                <p>&copy; 2025 Catalogo do Mercado Livre. Todos os direitos reservados.</p>
                <p><a href="/politica">Política de Privacidade</a> | <a href="/termos">Termos de Uso</a></p>
            </div>
        </div>
    </footer>