<section class="contato">
    <h3>Fale Conosco</h3>
    
    <p>Preencha o formulário abaixo e entraremos em contato o mais breve possível.</p>

    <form action="" method="POST">
        
        <div>
            <label for="nome">Nome Completo:</label><br>
            <input type="text" id="nome" name="nome" required style="width: 300px;"><br><br>
        </div>

        <div>
            <label for="telefone">Telefone (com DDD):</label><br>
            <input type="tel" id="telefone" name="telefone" required style="width: 300px;"><br><br>
        </div>

        <div>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" required style="width: 300px;"><br><br>
        </div>

        <div>
            <label for="observacoes">Observações/Mensagem:</label><br>
            <textarea id="observacoes" name="observacoes" rows="6" cols="45" required></textarea><br><br>
        </div>
        
        <div>
            <button type="submit" >Enviar Mensagem</button>
        </div>
        <br>
    </form>

</section>