<section class="support-section">
    <h3>Central de Ajuda e Suporte</h3>
    
    <p>
        <strong>Nossos Canais de Suporte Rápido:</strong>
    </p>

    <p>
        <strong>Transações:</strong> 
        <a>Trocas e Devoluções</a> | 
        <a>Rastreio de Pedidos</a>
    </p>

    <p>
        <strong>Informações:</strong> 
        <a>Garantia e Assistência</a> | 
        <a>Financiamento</a> | 
        <a>Perguntas Frequentes (FAQ)</a>
    </p>

    <hr>
    
    <p>
        <strong>Precisa de Ajuda Imediata?</strong>
        <br>
        <a>Fale Conosco Diretamente</a> (E-mail, Chat)
    </p>
    <a href="#">Voltar ao inicio</a>
</section>