.card-moto {
  width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.card-moto:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.1);
}

.moto-img {
  width: 100%;
  display: block;
  object-fit: contain;
  padding: 15px;
}

.info {
  background: #f2f2f2;
  padding: 20px;
}

.titulo {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  margin: 0;
}

.preco {
  font-size: 14px;
  color: #8f8f8f;
  margin-top: 5px;
}
