.product-catalog-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px 0;
}

.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;  

}


.support-list a:hover {
    background-color: #ffe600; /* Cor amarela do Mercado Livre */
    color: #333; /* Mantém a cor do texto */
    border-color: #ffe600;
}