.product-catalog-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px 0;
  display: flex;

}

.conteiner{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
   max-width: 1000px; 
  margin: 0 auto;
  padding: 20px;
}


