.sobre-nos-container {
    max-width: 900px;
    margin: 40px auto; /* Centraliza horizontalmente e adiciona espaço em cima/baixo */
    padding: 30px;
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza todo o texto */   
}
.sobre-nos-container h1{
    color: rgb(0, 110, 255);
}
