<section class="sobre-nos-container">
    <div>
        <h1>Sobre nós</h1>
        <p>
            Somos mais do que uma loja de veículos elétricos; somos um movimento em prol de um futuro mais limpo, eficiente e conectado. Nossa missão é clara: <strong>transformar a maneira como as pessoas se movem nas cidades.</strong>
        </p>
    </div>

    <div>
        
        <p>
            Trabalhamos para garantir que cada quilômetro percorrido seja zero emissão e 100% satisfatório.
        </p>
    </div>

    <div>
        <p>Junte-se a nós nessa jornada para tornar a cidade mais verde e a sua vida mais ágil.</p>
        </div>
        <a href="#">voltar a página inicial</a>
</section>